.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
a.btn-free-entry, .btn-free-entry {
    position: relative;
    display: block;
    max-width: 290px;
    margin: 0 auto;
    width: 100%;
    padding: 32px 70px 28px 45px;
    color: #fff;
    font-family: 'BodoniBT-Book','Bodoni Bk BT','Bodoni MT',Didot,'Didot LT STD','Hoefler Text',Garamond,'Times New Roman',serif;
    font-size: 30.5px;
    text-align: left;
    text-decoration: none;
    background-color: #272727;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
a.btn-free-entry span,
.btn-free-entry span {
    display: block;
    margin-top: 2px;
    font-family: 'Raleway','Arial Narrow',Verdana,Arial,sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
a.btn-free-entry:after,
.btn-free-entry:after {
    position: absolute;
    z-index: 10;
    content: '';
    display: block;
    right: 40px;
    top: 50%;
    margin-top: -20px;
    width: 20px;
    height: 40px;
    background-image: url("../img/next_arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
a.btn-free-entry:hover,
.btn-free-entry:hover {
    background-color: #000000;
}

/*-------------------------------------CONTENT--------------------------------------*/
.sw-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    color: #fff;
}
.sw-banner-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
}
    .sw-content *,
    .sw-banner-nav * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .sw-content .container {
        position: relative;
        height: 100%;
        display: table;
        padding-bottom: 130px;
        padding-top: 30px;
    }
        .sw-content .container .container-box {
            display: table-cell;
            width: 100%;
            min-height: 50px;
            vertical-align: middle;
        }
    .banner-title {
        max-width: 1120px;
        font-family: 'BodoniBT-Book','Bodoni Bk BT','Bodoni MT',Didot,'Didot LT STD','Hoefler Text',Garamond,'Times New Roman',serif;
        font-size: 140px;
        line-height: 0.93;
        color: #ffffff;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    }
        .banner-title span {
            display: block;
            font-size: 70px;
            margin-bottom: 10px;
        }
    .banner-nav-list {
        position: absolute;
        bottom: 0;
        max-width: 1120px;
        width: 100%;
        outline:none;
        list-style:none;
        margin-left: 0;
        margin-right: 0;
    }
        .banner-nav-list > li {
            float: left;
            width: 35%;
            text-align: center;
            border-right: 1px solid rgba(255, 255, 255, 0.3);
        }
        .banner-nav-list > li:first-child {
            width: 30%;
        }
        .banner-nav-list > li:last-child {
            border-right: none;
        }
            .banner-nav-list > li > a {
                position: relative;
                display: block;
                padding: 32px 20px 43px;
                font-family: 'BodoniBT-Book','Bodoni Bk BT','Bodoni MT',Didot,'Didot LT STD','Hoefler Text',Garamond,'Times New Roman',serif;
                font-size: 35px;
                letter-spacing: -2px;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.62);
                text-decoration: none;
                -webkit-transition: all .25s ease-out;
                transition: all .25s ease-out;
            }

            .banner-nav-list > li > a:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }
            .banner-nav-list > li > a:before {
                position: absolute;
                z-index: 10;
                content: '';
                display: block;
                right: 50%;
                bottom: 19px;
                margin-right: -13px;
                width: 26px;
                height: 14px;
                background-image: url("../img/down_arrow.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
                .banner-nav-list > li > a span {
                    display: block;
                    margin-top: 10px;
                    font-size: 12px;
                    font-family: 'Raleway','Arial Narrow',Verdana,Arial,sans-serif;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 0;
                }
            .banner-nav-list .btn-free-entry,
            .banner-nav-list a.btn-free-entry {
                font-size: 40px;
                padding-bottom: 35px;
                padding-top: 40px;
                padding-left: 57px;
                letter-spacing: -2.2px;
                max-width: 100%;
                color: #000;
                background-color: rgba(255, 255, 255, 0.95);
            }
            .banner-nav-list a.btn-free-entry:before,
            .banner-nav-list .btn-free-entry:before {
                content: none;
            }
            .banner-nav-list a.btn-free-entry:after,
            .banner-nav-list .btn-free-entry:after {
                right: 45px;
                background-image: url("../img/next_arrow_b.png");
            }
            .banner-nav-list a.btn-free-entry:hover,
            .banner-nav-list .btn-free-entry:hover {
                background-color: rgba(255, 255, 255, 1);
            }
                .banner-nav-list .btn-free-entry span,
                .banner-nav-list a.btn-free-entry span {
                    margin-top: 10px;
                    letter-spacing: 1px;
                }
.section-awards {
    padding-top: 94px;
    padding-bottom: 40px;
}
    .section-awards * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
        .section-awards .section-title {
            margin-bottom: 12px;
            padding-bottom: 0;
            text-align: left;
            letter-spacing: -0.5px;
        }
        .awards-list {
            outline:none;
            list-style:none;
            display: table;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
            .awards-list > li {
                display: table-cell;
                padding: 5px 5px;
                vertical-align: top;
            }
                .awards-list li.awards-desc-box{
                    width: 31.6%;
                    padding-top: 115px;
                }
                .awards-list li.awards-img-box{
                    width: 68.4%;
                }
                    .awards-img-wrap {
                        padding-left: 57px;
                    }
                        .awards-img-wrap img {
                            max-width: 100%;
                            width: auto;
                            height: auto;
                        }
        .awards-desc-wap {
            margin-bottom: 48px;
            font-size: 14px;
            color: #000;
        }
        .awards-big-text-desc-wap {
            font-size: 18px;
            font-weight: 500;
            color: #000;
        }
            .awards-big-text-desc-wap p {
                font-weight: 500;
                margin-bottom: 10px;
            }
.section-how-to-enter {
    padding-top: 70px;
    padding-bottom: 70px;
}
.section-how-to-enter * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    .section-title {
        margin-bottom: 32px;
        font-size: 62px;
        text-align: center;
        color: #272727;
        letter-spacing: -3px;
        line-height: 1;
        font-weight: 500;
    }
    .how-to-list {
        margin: 0 auto;
        max-width: 1220px;
        text-align: center;
    }
        .how-to-list > li {
            display: inline-block;
            width: 32.333%;
            padding: 0 10px;
            margin-bottom: 73px;
            text-align: center;
            vertical-align: top;
        }
        .how-to-list > li:nth-child(3n+1) {
            clear: both;
        }
            .how-box {
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
            }
                .how-box * {
                    font-size: 14px;
                    margin-bottom: 12px;
                    color: #272727;
                }
                .how-box a {
                    text-decoration: underline;
                    -webkit-transition: 0.25s;
                    -khtml-transition: 0.25s;
                    -moz-transition: 0.25s;
                    -ms-transition: 0.25s;
                    -o-transition: 0.25s;
                    transition: 0.25s;
                }
                .how-box a:hover {
                    text-decoration: none;
                }
                .how-box *:last-child {
                    margin-bottom: 0;
                }
            .how-title {
                margin-bottom: 4px;
                padding-bottom: 0;
                font-family: 'Raleway','Arial Narrow',Verdana,Arial,sans-serif;
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
            }
            .how-to-list > li .btn-free-entry {
                margin-top: 9px;
            }

/*-------------------------------------SLIDER---------------------------------------*/
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    height: calc(100vh - 112px);
    min-height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #272727;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
}
.custom-width .swiper-slide:first-child {
    width: calc(100% - 200px);
}
.custom-width .swiper-slide:last-child {
    width: calc(100% + 200px);
}
.swiper-button-next, .swiper-button-prev {
    z-index: 99999;
}
.swiper-button-next span {
    position: absolute;
    display: none;
    max-width: 100px;
    padding-top: 2px;
    top: 50%;
    left: -25px;
    text-transform: uppercase;
    font-weight: 700;
    color: #aaaaaa;
    text-align: right;
    line-height: 1.5;
    -moz-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    -webkit-transform: translate(-100%, -50%);
    -o-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.custom-width .swiper-button-next span {
    display: block;
}
.swiper-button-next:hover span,
.swiper-button-next span:hover {
    color: #fff;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 1px;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 1px;
}

/*popup*/
.termsFullWrap {
    position: fixed;
    display: block;
    min-width: 1024px;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,.8);
    z-index: 9999;
}
.termsFullWrap * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.termsPopup {
    position: absolute;
    display: block;
    width: auto;
    max-width: 727px;
    max-height: 90%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 92px 100px 90px 70px;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
}
    .popupContent * {
        font-size: 13px;
        color: #505050;
        letter-spacing: 0.3px;
        line-height: 2.1;
    }
    .popupContent > * {
        margin-bottom: 26px;
    }
    .popupContent > *:last-child {
        margin-bottom: 0;
    }
    .popupContent ul {
        outline:none;
        list-style:none;
        margin-left: 0;
        margin-right: 0;
    }
    .popupContent ul > li {
        position: relative;
        padding-left: 18px;
    }
    .popupContent ul > li:before {
        position: absolute;
        content: '';
        left: 4px;
        top: 9px;
        width: 4px;
        height: 8px;
        background-image: url(../img/li_icon.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .popup-title {
        letter-spacing: 0;
        margin-bottom: 4px;
        padding-bottom: 0;
        font-size: 34px;
        color: #000;
        line-height: 1;
    }
    .popup-subtitle {
        margin-bottom: 5px;
        padding-bottom: 0;
        font-family: 'Raleway','Arial Narrow',Verdana,Arial,sans-serif;
        font-size: 16px;
        line-height: 1;
        text-transform: uppercase;
        color: #000;
        font-weight: 700;
    }
    .judgesPopup {
        padding-right: 85px;
    }
    .judges-list {
        outline:none;
        list-style:none;
        margin: 20px 0 -50px 0;
    }
    .judges-list > li {
        display: inline-block;
        width: 45.5%;
        margin-bottom: 50px;
        vertical-align: top;
    }
        .judges-box {
            max-width: 195px;
        }
        .judges-img-wrap {
            display: block;
            width: 195px;
            height: 195px;
            margin-bottom: 9px;
            background-color: #f0f0f0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .judges-desc {
            margin-left: 3px;
            letter-spacing: 0.3px;
        }
            .judges-desc span {
                margin-bottom: -4px;
                font-size: 13px;
                color: #505050;
                display: block;
            }
            .judges-desc .judges-name {
                font-size: 16px;
                font-weight: 600;
            }
/*-------------------------------------RESPONSIVE---------------------------------------*/
@media all and (max-width: 1400px) {
    .banner-title {
        margin-left: 20px;
        font-size: 95px;
    }
        .banner-title span {
            font-size: 60px;
        }
}


/*-------------------------------------ADAPTIVE---------------------------------------*/
mobileBodyWrapper .custom-width .swiper-button-next span {
    display: none;
}
.mobileBodyWrapper .banner-title {
    font-size: 62.5px;
}
    .mobileBodyWrapper .banner-title span {
        font-size: 29px;
        margin-bottom: 5px;
    }

    .mobileBodyWrapper .banner-nav-list .btn-free-entry,
    .mobileBodyWrapper .banner-nav-list a.btn-free-entry {
        font-size: 22.5px;
        padding-bottom: 35px;
        padding-top: 40px;
        padding-left: 57px;
        letter-spacing: -1.2px;
        max-width: 100%;
        color: #000;
        background-color: rgba(255, 255, 255, 0.95);
    }
    .mobileBodyWrapper .banner-nav-list a.btn-free-entry:before,
    .mobileBodyWrapper .banner-nav-list .btn-free-entry:before {
        content: none;
    }
    .mobileBodyWrapper .banner-nav-list a.btn-free-entry:after,
    .mobileBodyWrapper .banner-nav-list .btn-free-entry:after {
        right: 45px;
        background-image: url("../img/next_arrow_b.png");
    }
    .mobileBodyWrapper .banner-nav-list a.btn-free-entry:hover,
    .mobileBodyWrapper .banner-nav-list .btn-free-entry:hover {
        background-color: rgba(255, 255, 255, 1);
    }
        .mobileBodyWrapper .banner-nav-list .btn-free-entry span,
        .mobileBodyWrapper .banner-nav-list a.btn-free-entry span {
            font-size: 9px;
            margin-top: -4px;
            letter-spacing: 0.3px;
        }
.mobileBodyWrapper .section-awards {
    padding-top: 40px;
    padding-bottom: 20px;
}
.mobileBodyWrapper .section-how-to-enter {
    padding-top: 20px;
    padding-bottom: 20px;
}
.mobileBodyWrapper .awards-list > li {
    display: block;
    padding: 0;
}
    .mobileBodyWrapper .awards-list li.awards-desc-box{
        width: 100%;
    }
    .mobileBodyWrapper .awards-list li.awards-img-box{
        width: 100%;
    }
        .mobileBodyWrapper .awards-img-wrap {
            padding-left: 0;
            margin-left: -15px;
            margin-right: -15px;
        }
            .mobileBodyWrapper .awards-img-wrap img {
                max-width: 100%;
                width: auto;
                height: auto;
            }
            .mobileBodyWrapper .awards-desc-wap {
                margin-bottom: 18px;
                font-size: 14px;
            }
            .mobileBodyWrapper .awards-big-text-desc-wap {
                font-size: 14px;
            }
                .mobileBodyWrapper .awards-big-text-desc-wap p {
                    font-weight: 500;
                    margin-bottom: 10px;
                }
    .mobileBodyWrapper  .section-title {
        margin-bottom: 3px;
        font-size: 38px;
    }
        .mobileBodyWrapper .how-title {
            font-size: 14px;
        }
        .mobileBodyWrapper  .how-to-list {
            margin: 0 auto;
            max-width: 1220px;
            text-align: center;
        }
            .mobileBodyWrapper  .how-to-list > li {
                display: block;
                width: 100%;
                padding: 0;
                margin-bottom: 25px;
                text-align: center;
            }
            .mobileBodyWrapper  .how-to-list > li:nth-child(3n+1) {
                clear: none;
            }
                .mobileBodyWrapper  .how-box {
                    max-width: 320px;
                    margin: 0 auto;
                    text-align: center;
                }