.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
a.btn-free-entry, .btn-free-entry {
    position: relative;
    display: block;
    max-width: 290px;
    margin: 0 auto;
    width: 100%;
    padding: 32px 70px 28px 45px;
    color: #fff;
    font-family: 'BodoniBT-Book','Bodoni Bk BT','Bodoni MT',Didot,'Didot LT STD','Hoefler Text',Garamond,'Times New Roman',serif;
    font-size: 30.5px;
    text-align: left;
    text-decoration: none;
    background-color: #272727;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
a.btn-free-entry span,
.btn-free-entry span {
    display: block;
    margin-top: 2px;
    font-family: 'Raleway','Arial Narrow',Verdana,Arial,sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
a.btn-free-entry:after,
.btn-free-entry:after {
    position: absolute;
    z-index: 10;
    content: '';
    display: block;
    right: 40px;
    top: 50%;
    margin-top: -20px;
    width: 20px;
    height: 40px;
    background-image: url("../img/next_arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
a.btn-free-entry:hover,
.btn-free-entry:hover {
    background-color: #000000;
}

/*-------------------------------------CONTENT--------------------------------------*/
.sw-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    color: #fff;
}
    .sw-content * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .sw-content .container {
        position: relative;
    }
    .banner-title {
        max-width: 590px;
        font-family: 'BodoniBT-Book','Bodoni Bk BT','Bodoni MT',Didot,'Didot LT STD','Hoefler Text',Garamond,'Times New Roman',serif;
        font-size: 140px;
        line-height: 0.93;
        color: #ffffff;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    }
        .banner-title span {
            display: block;
            font-size: 70px;
            margin-bottom: 10px;
        }
    .banner-nav-list {
        max-width: 1120px;
        width: 100%;
        outline:none;
        list-style:none;
        margin-left: 0;
        margin-right: 0;
    }
        .banner-nav-list > li {
            float: left;
            width: 35%;
            text-align: center;
            border-right: 1px solid rgba(255, 255, 255, 0.3);
        }
        .banner-nav-list > li:first-child {
            width: 30%;
        }
        .banner-nav-list > li:last-child {
            border-right: none;
        }
            .banner-nav-list > li > a {
                position: relative;
                display: block;
                padding: 32px 20px 43px;
                font-family: 'BodoniBT-Book','Bodoni Bk BT','Bodoni MT',Didot,'Didot LT STD','Hoefler Text',Garamond,'Times New Roman',serif;
                font-size: 35px;
                letter-spacing: -2px;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.62);
                text-decoration: none;
                -webkit-transition: all .25s ease-out;
                transition: all .25s ease-out;
            }
            .banner-nav-list > li > a:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }
            .banner-nav-list > li > a:before {
                position: absolute;
                z-index: 10;
                content: '';
                display: block;
                right: 50%;
                bottom: 19px;
                margin-left: -13px;
                width: 26px;
                height: 14px;
                background-image: url("../img/down_arrow.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
                .banner-nav-list > li > a span {
                    display: block;
                    margin-top: 10px;
                    font-size: 12px;
                    font-family: 'Raleway','Arial Narrow',Verdana,Arial,sans-serif;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 0;
                }
            .banner-nav-list .btn-free-entry,
            .banner-nav-list a.btn-free-entry {
                font-size: 40px;
                padding-bottom: 35px;
                padding-top: 40px;
                padding-left: 57px;
                letter-spacing: -2.2px;
                max-width: 100%;
                color: #000;
                background-color: rgba(255, 255, 255, 0.95);
            }
            .banner-nav-list a.btn-free-entry:before,
            .banner-nav-list .btn-free-entry:before {
                content: none;
            }
            .banner-nav-list a.btn-free-entry:after,
            .banner-nav-list .btn-free-entry:after {
                right: 45px;
                background-image: url("../img/next_arrow_b.png");
            }
            .banner-nav-list a.btn-free-entry:hover,
            .banner-nav-list .btn-free-entry:hover {
                background-color: rgba(255, 255, 255, 1);
            }
                .banner-nav-list .btn-free-entry span,
                .banner-nav-list a.btn-free-entry span {
                    margin-top: 10px;
                    letter-spacing: 1px;
                }
.section-awards {
    padding-top: 94px;
    padding-bottom: 40px;
}
    .section-awards * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
        .section-awards .section-title {
            margin-bottom: 12px;
            padding-bottom: 0;
            text-align: left;
            letter-spacing: -0.5px;
        }
        .awards-list {
            outline:none;
            list-style:none;
            display: table;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
            .awards-list > li {
                display: table-cell;
                padding: 5px 5px;
                vertical-align: top;
            }
                .awards-list li.awards-desc-box{
                    width: 31.6%;
                    padding-top: 115px;
                }
                .awards-list li.awards-img-box{
                    width: 68.4%;
                }
                    .awards-img-wrap {
                        padding-left: 57px;
                    }
                        .awards-img-wrap img {
                            max-width: 100%;
                            width: auto;
                            height: auto;
                        }
        .awards-desc-wap {
            margin-bottom: 48px;
            font-size: 14px;
            color: #000;
        }
        .awards-big-text-desc-wap {
            font-size: 18px;
            font-weight: 500;
            color: #000;
        }
            .awards-big-text-desc-wap p {
                font-weight: 500;
                margin-bottom: 10px;
            }
.section-how-to-enter {
    padding-top: 70px;
    padding-bottom: 70px;
}
.section-how-to-enter * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    .section-title {
        margin-bottom: 32px;
        font-size: 62px;
        text-align: center;
        color: #272727;
        letter-spacing: -3px;
        line-height: 1;
        font-weight: 500;
    }
    .how-to-list {
        margin: 0 auto;
        max-width: 1220px;
        text-align: center;
    }
        .how-to-list > li {
            display: inline-block;
            width: 32.333%;
            padding: 0 10px;
            margin-bottom: 73px;
            text-align: center;
            vertical-align: top;
        }
        .how-to-list > li:nth-child(3n+1) {
            clear: both;
        }
            .how-box {
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
            }
                .how-box * {
                    font-size: 14px;
                    margin-bottom: 12px;
                    color: #272727;
                }
                .how-box a {
                    text-decoration: underline;
                    -webkit-transition: 0.25s;
                    -khtml-transition: 0.25s;
                    -moz-transition: 0.25s;
                    -ms-transition: 0.25s;
                    -o-transition: 0.25s;
                    transition: 0.25s;
                }
                .how-box a:hover {
                    text-decoration: none;
                }
                .how-box *:last-child {
                    margin-bottom: 0;
                }
            .how-title {
                margin-bottom: 4px;
                padding-bottom: 0;
                font-family: 'Raleway','Arial Narrow',Verdana,Arial,sans-serif;
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
            }
            .how-to-list > li .btn-free-entry {
                margin-top: 9px;
            }

/*-------------------------------------SLIDER---------------------------------------*/
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    height: -moz-calc(100vh - 112px);
    height: -webkit-calc(100vh - 112px);
    height: calc(100vh - 112px);
    min-height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #272727;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
}
.custom-width .swiper-slide:first-child {
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
}
.custom-width .swiper-slide:last-child {
    width: -moz-calc(100% + 200px);
    width: -webkit-calc(100% + 200px);
    width: calc(100% + 200px);
}
.swiper-button-next, .swiper-button-prev {
    z-index: 99999;
}