.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
a.btn-free-entry, .btn-free-entry {
    position: relative;
    display: block;
    max-width: 290px;
    margin: 0 auto;
    width: 100%;
    padding: 32px 70px 28px 45px;
    color: #fff;
    font-family: 'BodoniBT-Book','Bodoni Bk BT','Bodoni MT',Didot,'Didot LT STD','Hoefler Text',Garamond,'Times New Roman',serif;
    font-size: 30.5px;
    text-align: left;
    text-decoration: none;
    background-color: #272727;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
a.btn-free-entry span,
.btn-free-entry span {
    display: block;
    margin-top: 2px;
    font-family: 'Raleway','Arial Narrow',Verdana,Arial,sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
a.btn-free-entry:after,
.btn-free-entry:after {
    position: absolute;
    z-index: 10;
    content: '';
    display: block;
    right: 40px;
    top: 50%;
    margin-top: -20px;
    width: 20px;
    height: 40px;
    background-image: url("../img/next_arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
a.btn-free-entry:hover,
.btn-free-entry:hover {
    background-color: #000000;
}

/*-------------------------------------CONTENT--------------------------------------*/
.sw-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    color: #fff;
}
.sw-banner-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 99999;
}
    .sw-content *,
    .sw-banner-nav * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .sw-content .container {
        position: relative;
        height: 100%;
        display: table;
        padding-bottom: 130px;
        padding-top: 30px;
    }
        .sw-content .container .container-box {
            display: table-cell;
            width: 100%;
            min-height: 50px;
            vertical-align: middle;
        }
    .banner-title {
        max-width: 1120px;
        font-family: 'BodoniBT-Book','Bodoni Bk BT','Bodoni MT',Didot,'Didot LT STD','Hoefler Text',Garamond,'Times New Roman',serif;
        font-size: 140px;
        line-height: 0.93;
        color: #ffffff;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    }
        .banner-title span {
            display: block;
            font-size: 70px;
            margin-bottom: 10px;
        }
    .banner-nav-list {
        position: absolute;
        bottom: 0;
        max-width: 1120px;
        width: 100%;
        outline:none;
        list-style:none;
        margin-left: 0;
        margin-right: 0;
    }
        .banner-nav-list > li {
            float: left;
            width: 35%;
            text-align: center;
            border-right: 1px solid rgba(255, 255, 255, 0.3);
        }
        .banner-nav-list > li:first-child {
            width: 30%;
        }
        .banner-nav-list > li:last-child {
            border-right: none;
        }
            .banner-nav-list > li > a {
                position: relative;
                display: block;
                padding: 32px 20px 45px;
                font-family: 'BodoniBT-Book','Bodoni Bk BT','Bodoni MT',Didot,'Didot LT STD','Hoefler Text',Garamond,'Times New Roman',serif;
                font-size: 35px;
                letter-spacing: -0.5px;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.62);
                text-decoration: none;
                -webkit-transition: all .25s ease-out;
                transition: all .25s ease-out;
            }

            .banner-nav-list > li > a:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }
            .banner-nav-list > li > a:before {
                position: absolute;
                z-index: 10;
                content: '';
                display: block;
                right: 50%;
                bottom: 19px;
                margin-right: -13px;
                width: 26px;
                height: 14px;
                background-image: url(../img/down_arrow.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
                .banner-nav-list > li > a span {
                    display: block;
                    margin-top: 10px;
                    font-size: 12px;
                    font-family: 'Raleway','Arial Narrow',Verdana,Arial,sans-serif;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 0;
                }
            .banner-nav-list .btn-free-entry,
            .banner-nav-list a.btn-free-entry {
                font-size: 40px;
                padding-bottom: 37px;
                padding-top: 40px;
                padding-left: 57px;
                letter-spacing: -1px;
                max-width: 100%;
                color: #000;
                background-color: rgba(255, 255, 255, 0.95);
            }
            .banner-nav-list a.btn-free-entry:before,
            .banner-nav-list .btn-free-entry:before {
                content: none;
            }
            .banner-nav-list a.btn-free-entry:after,
            .banner-nav-list .btn-free-entry:after {
                right: 45px;
                background-image: url(../img/next_arrow_b.png);
            }
            .banner-nav-list a.btn-free-entry:hover,
            .banner-nav-list .btn-free-entry:hover {
                background-color: rgba(255, 255, 255, 1);
            }
                .banner-nav-list .btn-free-entry span,
                .banner-nav-list a.btn-free-entry span {
                    margin-top: 10px;
                    letter-spacing: 1px;
                }
.section-awards {
    padding-top: 94px;
    padding-bottom: 40px;
}
    .section-awards * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
        .section-awards .section-title {
            margin-bottom: 12px;
            padding-bottom: 0;
            text-align: left;
            letter-spacing: -0.5px;
        }
        .awards-list {
            outline:none;
            list-style:none;
            display: table;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
            .awards-list > li {
                display: table-cell;
                padding: 5px 5px;
                vertical-align: top;
            }
                .awards-list li.awards-desc-box{
                    width: 31.6%;
                    padding-top: 115px;
                }
                .awards-list li.awards-img-box{
                    width: 68.4%;
                }
                    .awards-img-wrap {
                        padding-left: 57px;
                    }
                        .awards-img-wrap img {
                            max-width: 100%;
                            width: auto;
                            height: auto;
                        }
        .awards-desc-wap {
            margin-bottom: 48px;
            font-size: 14px;
            color: #000;
        }
        .awards-big-text-desc-wap {
            font-size: 18px;
            font-weight: 500;
            color: #000;
        }
            .awards-big-text-desc-wap p {
                font-weight: 600;
                margin-bottom: 10px;
            }
.section-how-to-enter {
    padding-top: 70px;
    padding-bottom: 70px;
}
.section-how-to-enter * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    .section-title {
        margin-bottom: 32px;
        font-size: 62px;
        text-align: center;
        color: #272727;
        letter-spacing: -3px;
        line-height: 1;
        font-weight: 500;
    }
    .how-to-list {
        margin: 0 auto;
        max-width: 1220px;
        text-align: center;
    }
        .how-to-list > li {
            display: inline-block;
            width: 32.333%;
            padding: 0 10px;
            margin-bottom: 73px;
            text-align: center;
            vertical-align: top;
        }
        .how-to-list > li:nth-child(3n+1) {
            clear: both;
        }
            .how-box {
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
            }
                .how-box * {
                    font-size: 14px;
                    margin-bottom: 12px;
                    color: #272727;
                }
                .how-box a {
                    text-decoration: underline;
                    -webkit-transition: 0.25s;
                    -khtml-transition: 0.25s;
                    -moz-transition: 0.25s;
                    -ms-transition: 0.25s;
                    -o-transition: 0.25s;
                    transition: 0.25s;
                }
                .how-box a:hover {
                    text-decoration: none;
                }
                .how-box *:last-child {
                    margin-bottom: 0;
                }
            .how-title {
                margin-bottom: 4px;
                padding-bottom: 0;
                font-family: 'Raleway','Arial Narrow',Verdana,Arial,sans-serif;
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
            }
            .how-to-list > li .btn-free-entry {
                margin-top: 9px;
            }

/*-------------------------------------SLIDER---------------------------------------*/
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    height: calc(100vh - 112px);
    min-height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #272727;
    transition: width 0.5s ease-in 0s;
}
.bodyWrapper:not(.mobileBodyWrapper) .custom-width .swiper-slide:first-child {
    width: calc(100% - 200px);
}
.bodyWrapper:not(.mobileBodyWrapper) .custom-width .swiper-slide:last-child {
    width: calc(100% + 200px);
}

.swiper-button-next,
.swiper-button-prev {
    z-index: 99999;
    width: 200px;
    top: 0;
    height: 100%;
    margin-top: 0;
    background-size: auto;
    background-position: 155px center;
    font-size: 13px;
    letter-spacing: 1px;
}
.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
    left: 0;
    background-image: url(../img/control_arrow.png);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
    right: 0;
    background-image: url(../img/control_arrow.png);
}
.swiper-button-next span {
    position: absolute;
    display: block;
    max-width: 100px;
    padding-top: 2px;
    top: 50%;
    right: 70px;
    text-transform: uppercase;
    font-weight: 700;
    color: #aaaaaa;
    text-align: right;
    line-height: 1.5;
    opacity: 0;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.custom-width .swiper-button-next span {
    opacity: 1;
}
.swiper-button-next:hover span,
.swiper-button-next span:hover {
    color: #fff;
}

/*popup*/
.termsFullWrap {
    position: fixed;
    display: block;
    min-width: 1024px;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,.8);
    z-index: 9999;
}
.termsFullWrap * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.termsPopup {
    position: absolute;
    display: block;
    width: 727px;
    max-width: 90%;
    height: auto;
    max-height: 670px;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 92px 100px 90px 70px;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
    .popupContent * {
        font-size: 13px;
        color: #505050;
        letter-spacing: 0.3px;
        line-height: 2.1;
    }
    .popupContent > * {
        margin-bottom: 26px;
    }
    .popupContent > *:last-child {
        margin-bottom: 0;
    }
    .popupContent ul {
        outline:none;
        list-style:none;
        margin-left: 0;
        margin-right: 0;
    }
    .popupContent ul > li {
        position: relative;
        padding-left: 18px;
    }
    .popupContent ul > li:before {
        position: absolute;
        content: '';
        left: 4px;
        top: 9px;
        width: 4px;
        height: 8px;
        background-image: url(../img/li_icon.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .popup-title {
        letter-spacing: 0;
        margin-bottom: 4px;
        padding-bottom: 0;
        font-size: 34px;
        color: #000;
        line-height: 1;
    }
    .popup-subtitle {
        margin-bottom: 5px;
        padding-bottom: 0;
        font-family: 'Raleway','Arial Narrow',Verdana,Arial,sans-serif;
        font-size: 16px;
        line-height: 1;
        text-transform: uppercase;
        color: #000;
        font-weight: 700;
    }
    .judgesPopup {
        padding-right: 85px;
    }
    .judges-list {
        outline:none;
        list-style:none;
        margin: 20px 0 -50px 0;
    }
    .judges-list > li {
        display: inline-block;
        width: 45.5%;
        margin-bottom: 50px;
        vertical-align: top;
    }
        .judges-box {
            max-width: 195px;
        }
        .judges-img-wrap {
            display: block;
            width: 195px;
            height: 195px;
            margin-bottom: 9px;
            background-color: #f0f0f0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .judges-desc {
            margin-left: 3px;
            letter-spacing: 0.3px;
        }
            .judges-desc span {
                margin-bottom: -4px;
                font-size: 13px;
                color: #505050;
                display: block;
            }
            .judges-desc .judges-name {
                font-size: 16px;
                font-weight: 600;
            }

/*-------------------------------------SUBMIT---------------------------------------*/
.submit-block {
    padding-top: 64px;
    padding-bottom: 70px;
}
.submit-block * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    .submit-block .section-title {
        font-size: 48px;
        color: #505050;
        letter-spacing: -1px;
    }
    .submit-block .container {
        max-width: 980px;
        padding: 0 20px;
    }
    .row-wrap {
        margin-bottom: 25px;
    }
    .row-list {
        overflow: hidden;
        outline:none;
        list-style:none;
        margin: 0 0 0 -20px;
    }
        .row-list > li {
            float: left;
            width: 33.333%;
            padding-left: 20px;
        }
        .address .row-list > li {
            width: 30.5%;
        }
        .address .row-list > li:first-child {
            width: 39%;
        }
            .row-list .defaultInput,
            .row-list .dealerMapZip {
                width: 100%;
                height: 43px;
                line-height: 43;
            }
            .row-wrap label span {
                font-size: 20px;
            }
    .two-row .row-list {
        max-width: 870px;
    }
        .two-row .row-list > li {
            width: 50%;
        }
.row-wrap.address {
    padding-top: 2px;
    margin-bottom: 38px;
}
.row-wrap.textarea {
    margin-bottom: 36px;
}
.row-wrap.two-row {
    margin-bottom: 30px;
}
.submit-block .defaultSubmit,
.submit-block .galleryDetailRightInfoBox a.defaultSubmit {
    width: 208px;
    margin-top: 38px;
}
.select-wrap select {
    height: 43px;
    margin: 0 10px 0 0;
    padding: 9px 12px;
    width: 100%;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    color: #a7a7a7;
    background: #ffffff;
    border: 1px solid #c3c3c3;
}

.select-wrap { position:relative; }
.select-wrap:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 41px;
    right: 1px;
    top: 1px;
    background-color: #fff;
    z-index: 3;
    text-align: center;
    pointer-events: none;
}
.select-wrap:before {
    position: absolute;
    content: '';
    right: 18px;
    top: 50%;
    margin-top: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 7px 0 7px;
    border-color: #a6a6a6 transparent transparent transparent;
    z-index: 100;
    text-align: center;
    pointer-events: none;
}

.row-wrap textarea {
    padding: 17px 20px;
    width: 100%;
    min-height: 150px;
    resize: none;
    border: 1px solid #c3c3c3;
}
.row-wrap textarea::-webkit-input-placeholder {
    font-family: 'Raleway','Arial Narrow',Verdana,Arial,sans-serif;
    color: #9f9f9f;
    font-weight: 400;
    letter-spacing: 0.3px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.row-wrap textarea::-moz-placeholder {
    font-family: 'Raleway','Arial Narrow',Verdana,Arial,sans-serif;
    color: #9f9f9f;
    font-weight: 400;
    letter-spacing: 0.3px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.row-wrap textarea:-ms-input-placeholder {
    font-family: 'Raleway','Arial Narrow',Verdana,Arial,sans-serif;
    color: #9f9f9f;
    font-weight: 400;
    letter-spacing: 0.3px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.row-wrap textarea:-moz-placeholder {
    font-family: 'Raleway','Arial Narrow',Verdana,Arial,sans-serif;
    color: #9f9f9f;
    font-weight: 400;
    letter-spacing: 0.3px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.row-list input::-webkit-input-placeholder {
    color: #9f9f9f;
    font-weight: 400;
    letter-spacing: 0.3px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.row-list input::-moz-placeholder {
    color: #9f9f9f;
    font-weight: 400;
    letter-spacing: 0.3px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.row-list input:-ms-input-placeholder {
    color: #9f9f9f;
    font-weight: 400;
    letter-spacing: 0.3px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.row-list input:-moz-placeholder {
    color: #9f9f9f;
    font-weight: 400;
    letter-spacing: 0.3px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.submit-desc-block {
    margin-top: 16px;
    color: #5e5e5e;
    letter-spacing: 0.4px;
}
    .submit-desc-block p {
        font-size: 18px;
    }
    .submit-desc-block .warring {

    }
    .submit-desc-block .warring a {
        color: #5e5e5e;
        text-decoration: underline;
    }
    .submit-desc-block .warring a:hover {
        text-decoration: none;
    }

.drop-box {
    position: relative;
    padding: 55px 20px 33px;
    border: 2px dashed #c1c1c1;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
    .drop-desc {
        margin-bottom: 3px;
        font-size: 26px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 0.8px;
    }
    .or {
        margin-bottom: 6px;
        display: block;
        font-size: 11px;
        text-transform: uppercase;
    }
    .drop-box input {
        display: none;
    }
    .drop-box .defaultSubmit {
        display: block;
        width: 161px;
        margin: 0 auto 20px;
        letter-spacing: 0.3px;
        cursor: pointer;
        pointer-events: none;
        -webkit-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }
    .drop-box-hover {
        display: block;
        position: absolute;
        z-index: 2000;
        left: -2px;
        top: -2px;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        background-color: rgba(0, 0, 0, 0.9);
        -webkit-transition: all .25s ease-in;
        transition: all .25s ease-in;
        pointer-events: none;
        opacity: 0;
    }
        .drop-box-hover span {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 40px;
            font-weight: 600;
            line-height: 1;
            letter-spacing: 1px;
            color: #fff;
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    .dz-started.drop-box:hover {
        border-color: #000;
    }
    div:not(.dz-started).drop-box:hover .drop-box-hover {
        opacity: 1;
    }
    .dz-started.drop-box:hover .defaultSubmit {
        background-color: #000;
    }
.drop-warring {
    margin-top: 8px;
    margin-bottom: 36px;
    text-align: center;
    letter-spacing: 0.25px;
}
    .drop-warring p {
        font-size: 12px;
    }
    .dropzone {
        padding: 0;
        border: none;
    }
    .dropzone .dz-preview .dz-image {
        border-radius: 0;
    }
.dropzone .dz-preview .dz-remove {
    text-decoration: underline;
}
.dropzone .dz-preview .dz-remove:hover {
    text-decoration: none;
}
/*-------------------------------------RESPONSIVE---------------------------------------*/
@media all and (max-width: 1400px) {
    .banner-title {
        margin-left: 20px;
        font-size: 95px;
    }
        .banner-title span {
            font-size: 60px;
        }
}
@media all and (max-height: 700px){
    .termsPopup {
        max-height: 90%;
    }
}
@media all and (orientation: landscape), all and (max-height: 480px) {
    .banner-title br {
        display: none;
    }
}
@media all and (max-width: 480px){
    .termsPopup {
        padding: 50px 40px;
    }
}


/*------------------------------------------------------------------------------------*/
/*-------------------------------------ADAPTIVE---------------------------------------*/
/*------------------------------------------------------------------------------------*/
.mobileBodyWrapper .custom-width .swiper-button-next span {
    display: none;
}
.mobileBodyWrapper .banner-title {
    font-size: 62.5px;
}
    .mobileBodyWrapper .banner-title span {
        font-size: 29px;
        margin-bottom: 5px;
    }

    .mobileBodyWrapper .mobile-hide {
        display: none;
    }

    .mobileBodyWrapper .banner-nav-list .btn-free-entry,
    .mobileBodyWrapper .banner-nav-list a.btn-free-entry {
        font-size: 22.5px;
        padding: 14px 40px 8px 24px;
        letter-spacing: -1.2px;
        max-width: 100%;
        color: #000;
        background-color: rgba(255, 255, 255, 0.95);
    }
    .mobileBodyWrapper .banner-nav-list a.btn-free-entry:before,
    .mobileBodyWrapper .banner-nav-list .btn-free-entry:before {
        content: none;
    }
    .mobileBodyWrapper .banner-nav-list a.btn-free-entry:after,
    .mobileBodyWrapper .banner-nav-list .btn-free-entry:after {
        right: 45px;
        background-image: url("../img/next_arrow_b.png");
    }
    .mobileBodyWrapper .banner-nav-list a.btn-free-entry:hover,
    .mobileBodyWrapper .banner-nav-list .btn-free-entry:hover {
        background-color: rgba(255, 255, 255, 1);
    }
        .mobileBodyWrapper .banner-nav-list .btn-free-entry span,
        .mobileBodyWrapper .banner-nav-list a.btn-free-entry span {
            font-size: 9px;
            margin-top: -4px;
            letter-spacing: 0.3px;
        }
    .mobileBodyWrapper .swiper-button-prev,
    .mobileBodyWrapper .swiper-container-rtl .swiper-button-next {
        display: none;
    }

.mobileBodyWrapper .section-awards {
    padding-top: 60px;
    padding-bottom: 20px;
}
.mobileBodyWrapper .section-how-to-enter {
    padding-top: 20px;
    padding-bottom: 20px;
}
.mobileBodyWrapper .awards-list > li {
    display: block;
    padding: 0;
}
    .mobileBodyWrapper .awards-list li.awards-desc-box{
        width: 100%;
    }
    .mobileBodyWrapper .awards-list li.awards-img-box{
        width: 100%;
    }
        .mobileBodyWrapper .awards-img-wrap {
            padding-left: 0;
            margin-left: -15px;
            margin-right: -15px;
        }
            .mobileBodyWrapper .awards-img-wrap img {
                max-width: 100%;
                width: auto;
                height: auto;
            }
            .mobileBodyWrapper .awards-desc-wap {
                margin-bottom: 18px;
                font-size: 14px;
            }
            .mobileBodyWrapper .awards-big-text-desc-wap {
                font-size: 14px;
            }
                .mobileBodyWrapper .awards-big-text-desc-wap p {
                    font-weight: 600;
                    margin-bottom: 0;
                }
    .mobileBodyWrapper .section-title {
        margin-bottom: 18px;
        font-size: 38px;
        text-align: left;
    }
        .mobileBodyWrapper .how-title {
            font-size: 14px;
            margin-bottom: 2px;
        }
        .mobileBodyWrapper .how-to-list {
            text-align: left;
        }
            .mobileBodyWrapper .how-to-list > li {
                display: block;
                width: 100%;
                padding: 0;
                margin-bottom: 25px;
                text-align: left;
            }
            .mobileBodyWrapper .how-to-list > li:nth-child(3n+1) {
                clear: none;
            }
                .mobileBodyWrapper .how-box {
                    max-width: 100%;
                    text-align: left;
                }
                .mobileBodyWrapper .how-to-list > li .btn-free-entry {
                    margin-left: 0;
                    font-size: 22.5px;
                    padding: 14px 40px 8px 24px;
                }
                .mobileBodyWrapper .how-to-list > li .btn-free-entry span {
                    font-size: 9px;
                    margin-top: -4px;
                    letter-spacing: 0.3px;
                }
.mobileBodyWrapper .submit-block {
    padding-top: 44px;
    padding-bottom: 30px;
}
    .mobileBodyWrapper .row-list {
        margin-left: 0;
    }
    .mobileBodyWrapper .two-row .row-list {
        max-width: 100%;
    }
    .mobileBodyWrapper .row-list > li,
    .mobileBodyWrapper .address .row-list > li:first-child {
        padding: 0;
        width: 100%;
    }
    .mobileBodyWrapper .row-list > li {
        margin-bottom: 8px;
    }
    .mobileBodyWrapper .row-list > li:last-child {
        margin-bottom: 0;
    }
        .mobileBodyWrapper .row-wrap,
        .mobileBodyWrapper .row-wrap.textarea,
        .mobileBodyWrapper .row-wrap.address {
            margin-bottom: 8px;
        }
        .mobileBodyWrapper .drop-box:hover,
        .mobileBodyWrapper .dz-started.drop-box:hover {
            border-color: #000;
        }
        .mobileBodyWrapper .drop-box:hover .drop-box-hover,
        .mobileBodyWrapper div:not(.dz-started).drop-box:hover .drop-box-hover{
            display: none;
            opacity: 0;
        }
        .mobileBodyWrapper .drop-box:hover .defaultSubmit,
        .mobileBodyWrapper .dz-started.drop-box:hover .defaultSubmit{
            background-color: #000;
        }
        .mobileBodyWrapper .submit-block .section-title {
            margin-bottom: 24px;
        }
        .mobileBodyWrapper .drop-desc {
            font-size: 22px;
        }